.logo-style {
  font-family: 'Brush Script MT'; /* Use a clean sans-serif font */
  font-size: 2rem; /* Adjust size as needed */
  font-weight: 600; /* Semi-bold weight */
  letter-spacing: 0.2em; /* Add letter spacing */
  text-transform: uppercase; /* Make text uppercase */
  color: transparent;
  background: linear-gradient(to right,rgb(231, 231, 108), rgb(231, 231, 108)); /* Light to dark gray gradient */
  -webkit-background-clip: text; /* Clip background to text */
  background-clip: text;
}

  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.sidebar-link:hover {
    background-color: #59b64e;
}

.sidebar-link.active {
    background-color: rgb(194, 239, 195); /* Change this to the color you want */
    color:#000;
}

/* Main Layout */
.layout-container {
  display: flex;
  height: 100vh;
}

/* Sidebar: 25% */
.sidebar {
  width: 12%;
  background-color: #000000;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sidebar Header */
.sidebar-header {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #44474a;
}

/* Sidebar Links */
.sidebar-nav {
  width: 100%;
  margin-top: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover {
  background-color: #5d865a;
}

.sidebar-link .icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.active1 {
  color: black;
  font-weight: bold;
  background-color: #34495e;
}

.main-content {
  width: 100%;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
}

/* ViewCustomer Content Styling */
.view-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}
.view-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}





