.view-payments-container {
    max-width: 85%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .payments-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .payments-table th,
  .payments-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #000000;
  }
  
  .payments-table th {
    background-color: rgb(194, 239, 195);
  }
  
  .payments-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .payments-table tr:hover {
    background-color: #f1f1f1;
  }
  
  button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #45a049;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #e53935;
  }
  