/* Ensure the container takes the full height of the viewport */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #f9f9f9; /* Optional background color */
  }
  
  .center-image {
    max-width: 100%;
    height: 100%;
    width: 100%px; /* Optional size adjustment */
    border-radius: 10px; /* Optional styling */
  }
  